
$theme-color: #dd3300;
$text-color: #333333;
$wide-min-width: 1200px;

$list-padding: 30px;
$item-width: 300px;

body {
  margin: 0;
}

#root {
  display: grid;
  background-color: #eeeeee;
}

/* Mobile */
#root {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "content";
}

/* Desktop */
@media (min-width: $wide-min-width) {
  #root {
    grid-template-columns: auto $wide-min-width auto;
    grid-template-rows: auto;
    grid-template-areas:
      ". header ."
      ". content .";
  }
}

.header {
  grid-area: header;
  height: 100px;
  background-color: #eeeeee;
}

h2, h3, h4, h5 {
  margin: 0;
}


.content {
  grid-area: content;
  background-color: white;
}

.list-header {
  line-height: 1;
  padding: $list-padding;
}

.list-header > h2 {
  font-size: 2.5rem;
}

.list-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 0 $list-padding;
  padding: $list-padding;
  padding-bottom: 0;
}

.list-item {
  background-color: #eeeeee;
  width: min(100%, $item-width);
  flex-grow: 1;
  margin-bottom: $list-padding;
}

.list-item-header {
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.list-item-header-fill {
  flex-grow: 1;
}

.list-item-header a {
  text-decoration: none;
  color: black;
}
.list-item-header a:visited {
  color: black;
}
.list-item-header a:hover {
  color: #9999ff;
}

.list-item-header-type > span {
  padding: 10px;
  border-radius: 5px;
}

.list-item-content {
  min-height: 300px
}

.list-item-content > img {
  width: 100%;
}

.list-item-dummy {
  width: min(100%, $item-width);
  flex-grow: 1;
  height: 0;
  margin: 0;
}

.list-item-tags {
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  gap: 10px;
}

.list-item-tag > span {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.item-summary {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: auto;
  grid-template-areas:
    "left right";
}

.item-summary-left {
  grid-area: left;
}

.item-summary-right {
  grid-area: right;
}

.view-item-object {
  display: flex;
  flex-flow: column nowrap;
}
.view-item-object > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.view-item-name {
  padding: 0.5em;
}
